/* GLOBAL */

body div.container {
	padding-bottom: 20px;
	-webkit-font-smoothing: antialiased;
	font-family: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	font-size:18px;
	line-height:1.4;
	color:#353738;
	font-weight:400;
}

a, a:visited {
	color:#353738;
}
a:hover { color:#464849; text-decoration:none; }

/* HEADER */

.jumbotron {
	background-color:#d4d3d2;
	margin-bottom:40px;
	text-align:center;
}

.jumbotron h1 {
	color:#353738 !important;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight:bold;
	margin: 40px 0;
	letter-spacing:-2px;
	text-shadow:1px 1px 1px #aaa;
}

/* POST CSS */

.post .user-info {
	text-align:center;
	font-size:14px;
}

.user-info span.user-name { font-family: 'Open Sans', Arial, sans-serif; }

.user-info a.user-avatar {}
.user-info a.user-avatar img {
	border-radius: 90px;
	width:70px;
	height:70px;
	margin-bottom:15px;
}

.user-info span.user-bio {
	font-size:13px;
	color:#999;
}

.post-info a {
	color:#b3b3b1;
}

.post-info a:hover {
	color:#b3b3b1;
	text-decoration:underline;
}

.centered, .post {
	float: none;
	margin: 0 auto;
}

.post-body h1 {
	margin: 20px 0px;
	font-size:40px;
}

.post-body h1 { margin: 10px 0px; }

.post-preview .post-body h1 {
	margin-top: 15px;
	font-size:36px;
}

.post-info {
	font-size:16px;
	color:#b3b3b1;
}

.post-title {
	font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	font-weight:bold;
}

.post-content {
	font-family: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	font-weight: 400;
	font-size: 18px;
}

.post-div {
	padding: 10px;
}

.post-body > * {
	padding: 5px;
}

.post-preview .post-body > * {
	padding: 0px;
}

.post .editable.editing {
	box-shadow: 0px 0px 10px #ccc;
	border: 1px dashed #999;
	border-radius: 4px;
}