/* CONTROLS CLASS */

.controls .form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color:#434341;
}

.controls a {
	color:#fff;
}

.controls {
	margin-top:10px;
	margin-right:10px;
}

.navBtn {
	padding: 10px 12px !important;
	border-radius: 0;
	margin-left: 5px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
}

.navBtn span.nav-label {
	margin-left: 11px;
}

/* CONTROLS -> CUSTOM */

.btn-gray, .btn-gray:visited, .btn-gray:focus {
	background-color:#3d3c3b !important;
	border-color:#3d3c3b  !important;
	color:#fff;
}

.btn-gray:hover {
	background-color:#363534 !important;
	border-color:#363534 !important;
	color:#fff;
}

.btn-lightgray, .btn-lightgray:visited, .btn-lightgray:focus {
	background-color:#5e5e5d !important;
	border-color:#5e5e5d !important;
	color:#fff;
}

.btn-lightgray:hover {
	background-color:#585756 !important;
	border-color:#585756 !important;
	color:#fff;
}

#actions, #edit, #post-actions {
	display:none;
}

/* CONTROLS -> LOGIN FORM */

.controls #navForm #formLogin {
	width: 250px;
}

.controls #navForm {
	padding: 15px;
	margin-top:40px;
	background-color: #302f2e;
	border-color: #302f2e;
	border-radius: 0px;
	font-family: Open Sans, Arial, sans-serif;
	min-width: 0px;
}

.controls #navForm ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ddd;
}
.controls #navForm :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ddd;
}
.controls #navForm ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ddd;
}
.controls #navForm :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ddd;
}

#navForm .btn-primary {
	font-size:11px !important;
	letter-spacing:1px;
	border-radius:2px;
}

#navForm input[type="text"], #navForm input[type="email"] , #navForm input[type="password"] {
	background-color:#3d3c3b;
	border-color:#3d3c3b;
	color:#fff !important;
	border-radius: 2px;
	font-size: 13px;
}